<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head >
    <title>Создание новой группы | College Upload System</title>
</head>
<body>
    <div th:replace="fragments/general :: navbar"></div>

    <form action="#" th:action="@{/admin/new_group}" th:object="${groupForm}" method="post">
        <fieldset>
            <!-- The name of the new group. -->
            <label for="name_id">Название группы: </label>
            <input id="name_id" type="text" name="name" /><br />
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>

            <table>
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Отчество</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student, itemStat : *{students}">
                        <td><input th:field="*{students[__${itemStat.index}__].firstName}" /></td>
                        <td><input th:field="*{students[__${itemStat.index}__].lastName}" /></td>
                        <td><input th:field="*{students[__${itemStat.index}__].fatherName}" /></td>
                    </tr>
                </tbody>
            </table>

            <button type="submit">Создать группу.</button>
        </fieldset>
    </form>
</body>
</html>