<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <body>
        <!-- Heading. -->
        <div th:fragment="heading(text, size)">
            <div class="my-5">
                <h1 class="display-${size}" th:text="${text}"></h1>
                <hr />
            </div>
        </div>

        <!-- Login fragment. -->
        <div th:fragment="loginForm">
            <form th:action="@{/login}" method="post">
                <!-- Login. -->
                <div class="mb-3 row">
                    <label for="inputLoginId" class="col-sm-1 col-form-label">Логин</label>
                    <div class="col-sm-3">
                        <input id="inputLoginId" class="form-control" th:classappend="${param.error} ? is-invalid" type="text" name="username" required autofocus />
                    </div>
                </div>

                <!-- Password. -->
                <div class="mb-3 row">
                    <label for="inputPasswordId" class="col-sm-1 col-form-label">Пароль</label>
                    <div class="col-sm-3">
                        <input id="inputPasswordId" class="form-control" th:classappend="${param.error} ? is-invalid" type="password" name="password" required />
                        <div class="invalid-feedback mt-3" th:if="${param.error}">
                            Неверное имя пользователя или пароль.
                        </div>
                    </div>
                </div>

                <!-- Submit button. -->
                <button type="submit" class="btn btn-dark">Войти</button>
            </form>
        </div>

        <!-- Navbar. -->
        <div th:fragment="navbar">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/}" href="#">
<!--                        <img src="https://image.flaticon.com/icons/png/512/2742/2742305.png" width="30" height="30" class="d-inline-block align-top" alt="" />-->
                        <img src="https://cdn-icons-png.flaticon.com/512/3713/3713696.png" width="30" height="30" class="d-inline-block align-top" alt="" />
                        College Upload System
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- To the left. -->
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" th:href="@{/}">Главная</a></li>
                        </ul>

                        <ul class="navbar-nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link" href="/src/Helping guide College Upload System.pdf" title="Руководство по использованию College Upload System">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>

                        <!-- To the right. If authenticated. -->
                        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                            <!-- Open the user's profile. -->
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/user/{user}/edit_profile(user=${#request.userPrincipal.principal.id})}">
                                    <span sec:authentication="name"></span>
                                </a>
                            </li>
                            <!-- Logout button. -->
                            <li class="nav-item">
                                <form th:action="@{/logout}" method="post">
                                    <button class="btn btn-outline-light ml-2" type="submit">
                                        Выйти
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                        </svg>
                                    </button>
                                </form>
                            </li>
                        </ul>


                        <!-- To the right. If not authenticated. -->
                        <form class="d-flex" sec:authorize="!isAuthenticated()" th:action="@{/login}" method="post">
                            <input class="form-control mx-2" type="text" name="username" placeholder="Логин" required autofocus />
                            <input class="form-control me-2" type="password" name="password" placeholder="Пароль" required />
                            <button class="btn btn-outline-success" type="submit">Войти</button>
                        </form>

                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>
