<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="fragments/layout :: layout(~{::title}, ~{::section})">
    <head>
        <title>Изменение профиля пользователя [[${user.login}]] | College Upload System</title>
    </head>
    <body>
        <section>
            <!-- Heading-->
            <div th:replace="fragments/general :: heading(text='Профиль пользователя ' + ${user.login}, size='1')"></div>

            <!-- Content. -->
            <form action="#" th:action="@{/user/{user}/update_profile(user=${user.id})}" th:object="${user}" method="post">
                <!-- First name. -->
                <div class="mb-3 row">
                    <label for="firstName_id" class="col-sm-2 col-form-label">Имя пользователя</label>
                    <div class="col-sm-3">
                        <input id="firstName_id" class="form-control" th:errorclass="is-invalid"
                               type="text" name="firstName" th:value="*{firstName}"
                               th:disabled="${!#authorization.expression('hasAuthority(''ADMIN'')')}" />

                        <!-- errors. -->
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                    </div>
                </div>

                <!-- Last name. -->
                <div class="mb-3 row">
                    <label for="lastName_id" class="col-sm-2 col-form-label">Фамилия пользователя</label>
                    <div class="col-sm-3">
                        <input id="lastName_id" class="form-control" th:errorclass="is-invalid"
                               type="text" name="lastName" th:value="*{lastName}"
                               th:disabled="${!#authorization.expression('hasAuthority(''ADMIN'')')}" />

                        <!-- errors. -->
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                    </div>
                </div>

                <!-- Father name. -->
                <div class="mb-3 row">
                    <label for="fatherName_id" class="col-sm-2 col-form-label">Отчество пользователя</label>
                    <div class="col-sm-3">
                        <input id="fatherName_id" class="form-control" th:errorclass="is-invalid"
                               type="text" name="fatherName" th:value="*{fatherName}"
                               th:disabled="${!#authorization.expression('hasAuthority(''ADMIN'')')}" />

                        <!-- errors. -->
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('fatherName')}" th:errors="*{fatherName}"></div>
                    </div>
                </div>

                <!-- Login. -->
                <div class="mb-3 row">
                    <label for="login_id" class="col-sm-2 col-form-label">Логин</label>
                    <div class="col-sm-3">
                        <input id="login_id" class="form-control" th:errorclass="is-invalid"
                               type="text" name="login" th:value="*{login}" required autofocus />

                        <!-- errors. -->
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
                    </div>
                    <div class="form-text">
                        <ul>
                            <li>Логин может состоять из латинских и/или русских симолов верхнего и/или нижнего регистра</li>
                            <li>Логин может содержать цифры</li>
                            <li>Логин может содержать символы @/-/+/_/./\</li>
                        </ul>
                    </div>
                </div>

                <!-- Password. -->
                <button type="button" id="password_change_button" class="btn btn-outline-secondary" onclick="togglePasswordChanging()">Изменить пароль</button>
                <div class="mb-3 row">
                    <label for="password_id" class="col-sm-2 col-form-label">Новый пароль</label>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input id="password_id" class="form-control"
                                   th:errorclass="is-invalid"
                                   type="password" name="password" disabled />
                            <img class="password_eye" src="/img/eye.svg" height="">

                            <!-- errors. -->
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:uerrors="*{password}"></div>
                        </div>
                    </div>
                    <small class="form-text">
                        <ul>
                            <li>длина пароля должна быть от 8 до 20 символов</li>
                            <li>пароль должен содержать хотя бы один символ латинского алфавита</li>
                            <li>пароль должен содержать хотя бы одну цифру</li>
                            <li>пароль не должен содержать пробелов</li>
                        </ul>
                    </small>
                </div>

                <!-- Confirm the password. -->
                <div class="mb-3 row">
                    <label for="confirmPassword_id" class="col-sm-2 col-form-label">Повторите пароль</label>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input id="confirmPassword_id" class="form-control" th:errorclass="is-invalid"
                                   type="password" name="confirmPassword" disabled />
                            <img class = "password_eye" src = "/img/eye.svg">

                            <!-- errors. -->
                            <div class="invalid-feedback" th:errors="${user}"></div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-dark" type="submit">Изменить</button>
            </form>

            <script>
                const eyes = document.querySelectorAll(".password_eye");
                let isEyePressed = false;
                let isPasswordToggled = false;

                eyes.forEach( e => {
                    e.addEventListener("mousedown", OnEyePressed);
                    e.addEventListener("mouseup", OnEyePressReleased);
                });

                function OnEyePressed(e) {
                    const inputField = getPreviousSiblingInputNode(e.target);
                    changePasswordInputFieldType(inputField);
                    changeEyeIcon(e.target);
                }

                function OnEyePressReleased(e) {
                    const inputField = getPreviousSiblingInputNode(e.target);
                    changePasswordInputFieldType(inputField);
                    changeEyeIcon(e.target);
                }

                function changeEyeIcon(eye) {
                    console.log(1);
                    eye.src = (isEyePressed ? "/img/eye.svg" : "/img/PressedEye.svg");

                    isEyePressed = !isEyePressed;
                }

                const changePasswordInputFieldType = (e) =>
                    e.type = (e.type === "password" ? "text" : "password");

                function getPreviousSiblingInputNode(element) {
                    if(element == null)
                        return false;

                    if(element.nodeName	=== "input".toUpperCase())
                        return element;

                    return getPreviousSiblingInputNode(element.previousSibling);
                }

                function togglePasswordChanging() {
                    document.querySelectorAll("input[type='password']").forEach( e => e.attributes.removeNamedItem("disabled") );
                    document.querySelectorAll("input[type='password']").forEach( e => e.attributes.setNamedItem(document.createAttribute("required")) );
                }
            </script>
        </section>
    </body>
</html>