<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href="/css/edit_user_modal.css">
    <link rel = "stylesheet" href = "/css/themes/bisque.css" assignment = "theme">
</head>
<body>
    <div class="modal">
        <form class = "user-settings" action="#" th:action="@{/user/{userId}/update_profile(userId=${user.getId()})}" id = "edit_user" method="post" th:object="${user}">

            <div class = "input_container">
                <input th:value="*{lastName}" th:disabled="${!#authorization.expression('hasAuthority(''ADMIN'')')}" class = "input--default-style" id = "last_name" name="lastName" type = "text" placeholder="Фамилия" required>
                <label class = "label--default-style" for="last_name">Фамилия</label>
            </div>

            <div class = "input_container">
                <input th:value="*{firstName}" th:disabled="${!#authorization.expression('hasAuthority(''ADMIN'')')}" class = "input--default-style" id = "first_name" name="firstName" type = "text" placeholder="Имя" required>
                <label class = "label--default-style" for="first_name">Имя</label>
            </div>

            <div class = "input_container">
                <input th:value="*{fatherName}" th:disabled="${!#authorization.expression('hasAuthority(''ADMIN'')')}" class = "input--default-style" id = "father_name" name="fatherName" type = "text" placeholder="Отчество" required>
                <label class = "label--default-style" for="father_name">Отчество</label>
            </div>

            <br/>

            <button class = "password-button_wrapper button--default-style" type="button" id = "password_change_button" onclick="togglePasswordChanging()">Изменить пароль</button>

            <div style = "margin-left: 3px;" class = "input_container">
                <input th:value="*{login}" class = "input--default-style" id = "login" name="login" type = "text" placeholder="Логин" required>
                <label class = "label--default-style" for="login">Логин</label>
            </div>

            <div class = "password_container">
                <div class = "input_container">
                    <input class = "input--default-style" id="password" type="password" name="password" placeholder="Новый пароль: " disabled />
                    <label class = "label--default-style" for="password">Новый пароль: </label>
                    <img class = "password_eye" src = "/img/eye.svg">
                </div>
                <div class = "input_container">
                    <input class = "input--default-style" id="password_confirm" type="password" name="confirmPassword" placeholder="Повторите пароль:" disabled />
                    <label class = "label--default-style" for="password_confirm">Повторите пароль: </label>
                    <img class = "password_eye" src = "/img/eye.svg">
                </div>
                <small class = "user-settings__password-tips">
                    <ul>
                        <li>длина пароля должна быть от 8 до 20 символов</li>
                        <li>пароль должен содержать хотя бы один символ латинского алфавита</li>
                        <li>пароль должен содержать хотя бы одну цифру</li>
                        <li>пароль не должен содержать пробелов</li>
                    </ul>
                </small>
            </div>
            <button class="user-settings__submit-button button--default-style" type="submit">Сохранить</button>
        </form>
    </div>
    <script>

        document.querySelectorAll("input[type='password']").forEach(e => e.attributes.setNamedItem(document.createAttribute("disabled")));

        const eyes = document.querySelectorAll(".password_eye");
        let isEyePressed = false;
        let isPasswordToggled = false;

        eyes.forEach( e => {
            e.addEventListener("mousedown", OnEyePressed);
            e.addEventListener("mouseup", OnEyePressReleased);
        });

        function OnEyePressed(e) {
            const inputField = getPreviousSiblingInputNode(e.target);
            changePasswordInputFieldType(inputField);
            changeEyeIcon(e.target);
        }

        function OnEyePressReleased(e) {
            const inputField = getPreviousSiblingInputNode(e.target);
            changePasswordInputFieldType(inputField);
            changeEyeIcon(e.target);
        }

        function changeEyeIcon(eye) {
            console.log(1);
            eye.src = (isEyePressed ? "/img/eye.svg" : "/img/PressedEye.svg");

            isEyePressed = !isEyePressed;
        }

        const changePasswordInputFieldType = (e) =>
            e.type = (e.type === "password" ? "text" : "password");

        function getPreviousSiblingInputNode(element) {
            if(element == null)
                return false;

            if(element.nodeName	=== "input".toUpperCase())
                return element;

            return getPreviousSiblingInputNode(element.previousSibling);
        }

        function togglePasswordChanging() {
            if(!isPasswordToggled) {
                document.querySelectorAll("input[type='password']").forEach(e => e.attributes.removeNamedItem("disabled"));
                document.querySelectorAll("input[type='password']").forEach(e => e.attributes.setNamedItem(document.createAttribute("required")));
            }
            else {
                document.querySelectorAll("input[type='password']").forEach(e => e.attributes.removeNamedItem("required"));
                document.querySelectorAll("input[type='password']").forEach(e => e.attributes.setNamedItem(document.createAttribute("disabled")));
            }
            isPasswordToggled = !isPasswordToggled;
        }

    </script>
</body>
</html>