<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head th:replace="/fragments/general :: header(~{::title})">
        <title>Изменение профиля пользователя [[${user.login}]] | College Upload System</title>
    </head>
    <body>
        <div th:replace="/fragments/general :: navbar"></div>

        <form action="#" th:action="@{/update_user_profile}" th:object="${user}" method="post">
            <!-- User full name. -->
            <div>
                <label for="firstName_id">Имя пользователя: </label>
                <input id="firstName_id" type="text" name="firstName" th:value="*{firstName}" readonly />
            </div>
            <div>
                <label for="lastName_id">Фамилия пользователя: </label>
                <input id="lastName_id" type="text" name="lastName" th:value="*{lastName}" readonly />
            </div>

            <!-- Login. -->
            <div>
                <label for="login_id">Логин: </label>
                <input id="login_id" type="text" name="login" th:value="*{login}" required autofocus />
                <div><small th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></small></div>
                <small>
                    <ul>
                        <li>Логин может состоять из латинских и/или русских симолов верхнего и/или нижнего регистра</li>
                        <li>Логин может содержать цифры</li>
                        <li>Логин может содержать символы @/-/+/_/./\</li>
                    </ul>
                </small>
            </div>

            <!-- Password. -->
            <div>
                <label for="password_id">Новый пароль: </label>
                <input id="password_id" type="password" name="password" required />
                <div><small th:if="${#fields.hasErrors('password')}" th:uerrors="*{password}"></small></div>
                <small>
                    <ul>
                        <li>длина пароля должна быть от 8 до 20 символов</li>
                        <li>пароль должен содержать хотя бы один символ латинского алфавита</li>
                        <li>пароль должен содержать хотя бы одну цифру</li>
                        <li>пароль не должен содержать пробелов</li>
                    </ul>
                </small>
            </div>
            <div>
                <label for="confirmPassword_id">Повторите пароль: </label>
                <input id="confirmPassword_id" type="password" name="confirmPassword" required />
                <div><small th:errors="${user}"></small></div>
            </div>

            <div>
                <button type="submit">Изменить</button>
            </div>
        </form>
    </body>
</html>