<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="fragments/layout :: layout(~{::title}, ~{::section})">
    <head>
        <title>Группы | College Upload System</title>
    </head>
    <body>
        <section>
            <!-- Heading. -->
            <div th:replace="fragments/general :: heading(text='Группы', size='1')"></div>

            <!-- Add a new group form. -->
            <div sec:authorize="hasAuthority('ADMIN')">
                <a class="btn btn-outline-dark my-3" data-bs-toggle="collapse" href="#collapseNewGroupForm" role="button"
                   aria-expanded="false" aria-controls="collapseNewGroupForm">Добавить новую группу</a>

                <div class="collapse" th:classappend="${isErrorPresent} ? show" id="collapseNewGroupForm">
                    <form id="newGroupForm" action="#" th:action="@{/admin/new_group}" th:object="${groupForm}" method="post" enctype="multipart/form-data">
                        <!-- Group name. -->
                        <div class="row mb-3">
                            <label for="groupName" class="col-sm-1 col-form-label">Имя группы</label>
                            <div class="col-sm-3">
                                <input id="groupName" class="form-control" th:classappend="${#fields.hasErrors('name')} ? is-invalid"
                                       type="text" name="name"  minlength="3" maxlength="6" required="required" th:value="*{name}"/>
                                <small class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                            </div>
                        </div>

                        <!-- CSV file. -->
                        <div class="row mb-3">
                            <label for="fileId" class="col-sm-1 col-form-label">CSV файл</label>
                            <div class="col-sm-3">
                                <input id="fileId" class="form-control" th:classappend="${fileError} ? is-invalid" type="file" name="file" required="required" />
                                <small class="invalid-feedback" th:if="${fileError}" th:text="${fileError}"></small>
                            </div>
                        </div>

                        <button id="newGroupButton" class="btn btn-dark" type="submit">Создать</button>
                    </form>
                </div>
            </div>

            <!-- Table content. -->
            <div class="list-group mt-3">
                <a th:each="group : ${groups}" th:href="@{/group/{groupId}/students(groupId=${group.id})}" th:text="${group.name}"
                   class="list-group-item list-group-item-action"></a>
            </div>

            <script>
                const newGroupButton = document.getElementById('newGroupButton');
                const newGroupForm = document.getElementById('newGroupForm');

                newGroupButton.addEventListener('click', () => {
                    // show the loader at the end of the uploading form.
                    newGroupForm.insertAdjacentHTML('beforeend',
                        '<span class="ms-3">Генерирование уч. записей студентов...</span>' +
                        '<div class="lds-roller ms-3"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>'
                    );

                    // make the upload button disabled.
                    newGroupButton.setAttribute('disabled', 'disabled');

                    // submit the form.
                    newGroupForm.submit();
                });
            </script>
        </section>
    </body>
</html>