<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/general :: header(~{::title})">
        <title>Группы | College Upload System</title>
    </head>
    <body>
        <!-- Navbar. -->
        <div th:replace="/fragments/general :: navbar"></div>

        <h1>Groups</h1>

        <table>
            <tr>
                <th>Groups</th>
            </tr>
            <tr th:each="group : ${groups}">
                <td>
                    <a th:href="@{/group/{groupId}/students(groupId=${group.id})}" th:text="${group.name}"></a>
                </td>
            </tr>
        </table>
    </body>
</html>