<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/general :: header(~{::title})">
        <title>Студенты группы [[${group.name}]] | College Upload System</title>
    </head>
    <body>
        <!-- Navbar. -->
        <div th:replace="fragments/general :: navbar"></div>

        <h2>Студенты группы [[${group.name}]]:</h2>

        <!-- Upload form. -->
        <form th:action="@{/upload(groupId=${group.id})}" method="post" enctype="multipart/form-data">
            <!-- The form for the file uploading. -->
            <input type="file" name="file" />

            <!-- The 'select' form for choosing the task to which the file will be attached. -->
            <select name="taskId">
                <option th:each="task: ${tasks}" th:value="${task.id}" th:text="${task.name}"></option>
            </select>

            <button type="submit">Отправить</button>
        </form>

        <table>
            <tr th:each="student: ${students}">
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.firstName}"></td>

                <td th:each="result: ${student.results}">
                    <a th:href="${result.filename}" th:text="${result.task.name}"></a>
                </td>
            </tr>
        </table>
    </body>
</html>